
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Media Query for Screen</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="./styles/styles.css" />
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- OPTIONAL handlebars -->
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- handlebars will look for this, and this body will
     be replaced with the content of the pages, it MUST be body -->
    {{{ body }}}
  <!-- OPTIONAL  -->
<nav class="nav">
    <a href="./views/welcome.html" class="nav__link" data-link></a>
    <a href="./views/signup.html" class="nav__link" data-link></a>
    <a href="./views/login.html" class="nav__link" data-link></a>
    <a href="./views/logout.html" class="nav__link" data-link></a>
    <a href="./views/account.handlebars" class="nav__link" data-link></a>
    <a href="./views/clique.handlebars" class="nav__link" data-link></a>
</nav>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Likeminded</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="views/login.html"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
      
  <div>
    <!-- HANDLEBARS WILL ADD THE CODE DYNAMICALLY --> 
  </div>

    
</body>
<!--optional handlebars-->
<script type="module" src="../server.js"> </script>
<!-- <script src="script.js"></script> -->
</html>
       
    

