
        <form>
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Enter your username"/>
            <br>
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter your password"/>
            <br>
            <button class="btn btn-primary" type="button" onclick="login()">Login</button>
        </form>
	<script>
		function login(){
			const payload = {
				username: $('#username').value,
				password: $('#password').value,
			}
			$.post('http://localhost:3000/auth/login',payload, (data)=>{
				console.log(data);
			});
		}
	</script>