<link rel="stylesheet" href="/public/styles/styles.css" />
<main>
	<section class="intro-section-blue text-light text-center text-sm-start">
		<div class="container">
			<div class="d-sm-flex justify-content-center">
				<div class="me-5 w-50">
					<h2 class="d-sm-flex justify-content-center">Event: {{{eventName}}}</h2>
					<!-- <p class="lead my-4 fw-bold">Your Cliques</p> -->
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="d-flex flex-wrap">
				{{#each events}}
				<div class="p-2 m-4">
					<div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem">
						<div class="card-body">
							<h5 class="card-title text-center">
									{{{dataValues.event_name}}}
							</h5>
							<p class="card-text">{{{dataValues.event_desc}}}</p>
							<a href="events/add" class="card-link">Create Plan</a>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>
</main>