<section class="banner-color text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex justify-content-center">
            <div class="me-5 w-50">
                <h2>Keeping everyone <span class="text-warning">likedminded</span>...</h2>
                <p class="lead my-4 fw-bold">
                    We believe that everything is better with company, with Likeminded our goal is to
                    make sure you and your friends stay connected and on the same page for all things in
                    life.
                </p>
                <a href="/signup" class="btn btn-primary btn-lg text-light border border-light border-3">
                    Sign up today <i class="bi bi-person-check"></i>
                </a>
            </div>
            <img class="img-fluid w-25 d-none d-sm-block bg-light rounded-circle"
                src="../public/image/undraw_Having_fun_re_vj4h.svg" alt="" />
        </div>
    </div>
</section>
<section class="intro-section-blue text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex justify-content-center">
            <div class="me-5 w-50">
                <h2>Making plans has never been easier</h2>
                <p class="lead my-4 fw-bold">
                    Likeminded is built to serve you and your friends, making managing your busy social
                    circles and staying up to date with their latest endevours more streamlined than
                    ever- just send the invite and start planning!
                </p>
            </div>
            <img class="img-fluid w-25 d-none d-sm-block bg-light rounded-circle"
                src="../public/image/undraw_Development_re_g5hq.svg" alt="" />
        </div>
    </div>
</section>
<section class="intro-section-green text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex justify-content-center">
            <div class="me-5 w-50">
                <h2>Be as meticulous or spontaneous as you like</h2>
                <p class="lead my-4 fw-bold">
                    Once you invted your friends your clique is automatically created, from there you
                    can quickly and easily pitch your ideas to everyone.
                </p>
            </div>
            <img class="img-fluid w-25 d-none d-sm-block bg-light rounded-circle"
                src="../public/image/undraw_Team_goals_re_4a3t.svg" alt="" />
        </div>
    </div>
</section>